# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Environment
.env
.env.*

# Backend secrets
kisan-ai-backend/.env

# Frontend
kisan-ai-mobile/node_modules/
kisan-ai-mobile/android/
kisan-ai-mobile/.expo/
kisan-ai-mobile/*.jks
kisan-ai-mobile/*.keystore